#gallery {
  display: flex;
  justify-content: space-around;
}

.js-gallery-item {
  list-style: none;
}

.js-gallery-img {
  height: 200px;
  width: 400px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
